<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		    description="Student MA ELL Alert Plus"
		    name="Student MA ELL Alert Plus"
		    version="20241122.03"
		    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
  <publisher name="George Skuse">
    <contact email="george.skuse@gmail.com" />
  </publisher>
 	
  <autoinstall required="true">
      <autoenable required="true" />
      <autoredeploy />
  </autoinstall>
</plugin>
